apiVersion: v1
kind: Service
metadata:
  name: memory-leak-service
  labels:
    app: memory-leak-app
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: memory-leak-app
